@model EmployeeLeaveRequestViewModel

@{
    ViewData["Title"] = "My Leave";
}
<div class="card">
    <div class="card-header">
        <h2>My Leave Allocations</h2>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col">Leave Name</div>
                <div class="col">Allocated Days</div>
                <div class="col">Allocated Days Remaining</div>
            </div>
        </li>
        @foreach (var allocation in Model.LeaveAllocations)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col"><h6 class="fw-bold">@allocation.LeaveType.Name</h6></div>
                    <div class="col">
                        <button type="button" class="btn btn-primary border border-4">
                            Allocated Days <span class="badge bg-secondary">@allocation.LeaveType.DefaultDays</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary border border-4">
                            Remaining Days <span class="badge bg-secondary">@allocation.NumberOfDays</span>
                        </button>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

<hr />
<h2>Current Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].TotalLeaveDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            @if (item.Approved == null && item.Cancelled == false)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRequested)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalLeaveDays)
                    </td>
                    <td>
                        @if (item.Cancelled)
                        {
                            <span class="badge bg-secondary">Cancelled</span>
                        }
                        else if (item.Approved == true)
                        {
                            <span class="badge bg-success">Approved</span>
                        }
                        else if (item.Approved == false)
                        {
                            <span class="badge bg-danger">Rejected</span>
                        }
                        else
                        {
                            <span class="badge bg-warning">Pending</span>
                        }
                    </td>
                    <td>
                        @if(item.Cancelled == false)
                        {
                            <div class="btn-group me-3" role="group">
                                <form asp-action="CancelRequest">
                                    <input name="Id" value="@item.Id" type="hidden" />
                                    <input name="cancelled" type="hidden" value="true" />
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Cancel Request</button>
                                </form>
                            </div>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<hr />
<h2>Past Requests</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].TotalLeaveDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            @if (item.Approved != null || item.Cancelled == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRequested)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalLeaveDays)
                    </td>
                    <td>
                        @if (item.Cancelled)
                        {
                            <span class="badge bg-secondary">Cancelled</span>
                        }
                        else if (item.Approved == true)
                        {
                            <span class="badge bg-success">Approved</span>
                        }
                        else if (item.Approved == false)
                        {
                            <span class="badge bg-danger">Rejected</span>
                        }
                        else
                        {
                            <span class="badge bg-warning">Pending</span>
                        }
                    </td>
                    <td>
                        @if(item.Cancelled == false && item.Approved == true)
                        {
                            <div class="btn-group me-3" role="group">
                                <form asp-action="CancelRequest">
                                    <input name="Id" value="@item.Id" type="hidden" />
                                    <input name="cancelled" type="hidden" value="true" />
                                    <button type="submit" class="btn btn-outline-danger btn-sm">Cancel Request</button>
                                </form>
                            </div>
                        }
                    </td>                    
                </tr>
            }
        }
    </tbody>
</table>
