@model IEnumerable<LeaveManagement.Web.Models.LeaveTypeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create"><i class="fa-solid fa-plus"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultDays)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
                    <button data-id="@item.Id" class="btn btn-outline-primary allocateLeaveBtn" type="button">Allocate Leave</button>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |                   
                    <button data-id="@item.Id" class="btn btn-outline-danger deleteBtn" type="button"><i class="fa-regular fa-trash-can"></i></button>
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="leaveTypeId" name="Id" />
</form>

<form id="allocateLeaveForm" asp-action="AllocateLeave">
    <input type="hidden" id="leaveAllocationId" name="Id" />
</form>

@section Scripts{
    <script>
        $(function () {            
            $('.deleteBtn').click(function (e) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'Deleted!',
                            'The record has been deleted.',
                            'success'
                        );
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });

            $('.allocateLeaveBtn').click(function (e) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You want to allocate a leave!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, allocate a leave!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveAllocationId').val(id);
                        $('#allocateLeaveForm').submit();
                    }
                });
            });
        });
    </script>
}
